/* reset css */
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

::-webkit-scrollbar {
  /* make scrollbar transparent */
  width: 0px;
  background: transparent;
}

/* basic setting */
$body-bg: #f8f7fc;
$body-color: #18253d;
$white: #fff;
$main-blue: #001935;
$secondary-blue: #3c88fd;
$freedom-blue: #02b8ff;
$dark-gray: #4a4a4a;
$light-gray: #a7aaaf;

$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);

/* 使用@each 產出css size設定 */
@each $prop, $abbrev in (width: w, height: h) {
  @each $num, $val in $sizes {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
  }
}

$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25
  ),
  2: (
    $spacer * 0.5
  ),
  3: (
    $spacer * 0.75
  ),
  4: $spacer,
  5: (
    $spacer * 1.25
  ),
  6: (
    $spacer * 1.5
  ),
  7: (
    $spacer * 1.75
  ),
  8: (
    $spacer * 2
  )
);

/* 使用@each 產出css spacer設定 */
@each $prop, $abbrev in (margin: m, padding: p) {
  @each $num, $val in $spacers {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
    .#{$abbrev}t-#{$num} {
      #{$prop}-top: $val;
    }
    .#{$abbrev}r-#{$num} {
      #{$prop}-right: $val;
    }
    .#{$abbrev}b-#{$num} {
      #{$prop}-bottom: $val;
    }
    .#{$abbrev}l-#{$num} {
      #{$prop}-left: $val;
    }
    .#{$abbrev}x-#{$num} {
      #{$prop}-left: $val;
      #{$prop}-right: $val;
    }
    .#{$abbrev}y-#{$num} {
      #{$prop}-top: $val;
      #{$prop}-bottom: $val;
    }
  }
}

%standard-boxshadow {
  box-shadow: 3px 0 13px 0 rgba(100, 112, 134, 0.1);
}

%input-style {
  border: 1px solid $light-gray;
  border-radius: 5px;
  font-size: 16px; 
  padding: 8px;
  &:hover, &:focus {
    border-color: $dark-gray;
  }
}


@mixin getStepNums($num) {
  @for $i from 1 through $num {
    &:nth-child(#{$i}) .circle-container::after {
      content: "#{$i}";
    }
  }
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  background: $body-bg;
  color: $body-color;
  font-family: "PingFang TC";
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-blockt;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}
.scrollbar {
  overflow-y: scroll;
  padding-left: 6px;
  // 整體的樣式
  &::-webkit-scrollbar {
    width: 6px;
  }
  // bar的樣式
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

/* style start */

nav {
  width: 60px;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 16px 0;
  background-color: $main-blue;
  z-index: 100;
  a {
    display: block;
    color: $white;
  }
  .menu a {
    margin-bottom: 10px;
  }
  i {
    font-size: 26px;
  }
}

#main-app {
  height: 100%;   
}

#main-content {
  height: 100%;   
  margin-left: 60px;
  display: flex;
}

.card-list-panel {
  height: 100%; 
  overflow-y: scroll;
  flex: 0 0 250px;
//   前面這兩個 0 代表 flex-grow 和 flex-shrink 為 0，在 main-content 當中剩下來的空間並不需要分配給 card-list-panel。而在縮小的時候，也不用對 card-list-panel 的寬度進行縮減。
// 而最後的 flex-basis 則是設定 cart list 主軸 (main axis) 的屬性。 flex-basis 是長是寬視當前的 flex-direction 決定。當元素們的排列方向是橫向 (row) 時，決定的是元素的寬度。反之，當元素是垂直排列 (column) 時，決定的是元素的高度。現在 card-list-panel 主軸是橫向的，所以設定 flex-basis 為 250px 就等於設定 card panel 的寬度是 250px。
  background-color: white;
  @extend %standard-boxshadow;
  z-index: 20;
  .flex-row {
    display: flex;
    align-items: center;
  }
  .card {
    width: 200px;
    margin-top: 16px;
    padding: 8px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.09);
    font-size: 14px;
    cursor: pointer;
    opacity: 0.5;
    &:hover, &.active {
      opacity: 1;
    }
    &.active {
      border-color: $light-gray;
    }
    i {
      width: 20px;
      font-size: 16px;
      text-align: center;
      margin-right: 5px;
      &.fa-youtube {
        color: #f11502;
      }
      &.fa-facebook-square {
        color: #4177f2;
      }
      &.fa-instagram {
        color: #5b30da;
      }
      &.fa-facebook-square,
      &.fa-instagram {
        font-size: 18px;
      }
    }
  }
}

.right-content {
  flex: 1;
  // 已經規定 card-list-panel 的寬度為 250px，因此以上設定的意思是指現在把 main-content 中剩下來的空間，都分配給 right-content。
  display: flex;
  flex-direction: column;    
  .container {
    width: 80%;
    margin: 0 auto;
  }
}

.stepper-panel {
  height: 120px;
  padding-top: 40px;
  .stepper-container {
    display: flex;
  }
  .step {
    flex: 1;
    text-align: center;
    position: relative;
    @include getStepNums(3);
    &.checked, &.active {
      .circle-container {
        background-color: $freedom-blue;
        color: $body-color;
      }
      .label-container {
        color: $body-color;
      }
      &.checked .circle-container::after {
        content: "\2714";
      }
    }
    .circle-container {
      height: 24px;
      width: 24px;
      background-color: $light-gray;
      border-radius: 50%;
      color: $dark-gray;
      margin: 0 auto;
    }
    .label-container {
      margin-top: 10px;
      color: $light-gray;
    }
    .connect-line {
      display: block;
      height: 1px;
      background-color: $light-gray;
      position: absolute;
      top: 12px;

      right: calc(50% + 20px);
      left: calc(-50% + 20px);
    }
  }
}

.form-panel {
  @extend %standard-boxshadow;
  width: 100%;
  background-color: $white;
  padding: 32px 0; 
  flex: 1;
  overflow-y: scroll;
  .terms-panel {
    max-height: 300px;
    padding: 16px;
    border: 1px solid $light-gray;
    border-radius: 5px;
    overflow-y: scroll;
  }
}

form {
  .form-row {
    margin-bottom: 24px;
    > label {
      display: block;
      margin-bottom: 6px;
      font-weight: 500;
    }  
  }
  input {
    @extend %input-style;
    &:hover, &:focus {
      border-color: $dark-gray;
    }
    &[type="checkbox"],&[type="radio"] {
      cursor: pointer;
      // ~ sibling 選擇器來選擇跟 checkbox 同一層的 label
      ~ label {
        display: inline-block;
        font-weight: normal;
        margin: 0;
      }
    }
    // [<屬性> = 字串]透過 HTML 屬性來選擇 HTML 元素
    &[type="checkbox"] {
      // 取消預設樣式
      -webkit-appearance: none;
      border-radius: 3px;
      position: relative;
      &:checked {
        background-color: $secondary-blue;
        &::after {
          content: "\2714";
          position: absolute;
          top: 0;
          left: 3px;
          font-size: 12px;
          color: $white;
        }
      }
      &:focus {
        border-color: $light-gray;
      }
      &:hover {
        border-color: $dark-gray;
      }
    }
    &[type="radio"] {
      -webkit-appearance: none; 
      border-radius: 50%;
      &:checked {
      // inset 改變陰影方向
      // x-偏移量 (x-offset) 0 、y-偏移量 (y-offset) 0、陰影模糊半徑 (blur radius) 0、陰影擴散半徑 (spread radius) 5px、與陰影顏色 (color)
      box-shadow: inset 0 0 0 5px $secondary-blue;
      }
      ~label {
        margin-right: 20px;
      }
    }
    &[type="date"] {
      cursor: pointer;
      &:invalid {
        color: #747474;
      }
    }
    &[type="number"] {
      width: 60px;
    }  
  }
  .select-wrapper {
    position: relative;
    width: 25%;
    z-index: 0;
    &::after {
      // 做法1:向下的三角形
      // content: "\25BE";

      //做法2
      content: "";
      border-style: solid;
      border-width: 6px 5px 0 5px;
      border-color: $light-gray transparent transparent transparent;
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);// 以自己 y-軸的高度，移動 -50%
      z-index: 1;
    }    
  }    
}
select {
  @extend %input-style;
  -webkit-appearance: none;
  cursor: pointer;
  width: 100%;
  &:invalid {
    color: #747474;
  }
}

